.head {
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
    background: #EDF2F4;
    top: 0;
    z-index: 100;
    justify-content: space-between;
}

#menu {
    margin: 17px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

#login {
    margin: 15px;
}

#login button {
    padding: 10px;
    border-radius: 14px;
    color: white;
    background: #F2545B;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

#login button:hover {
    background: #19323C;
}

#logo {
    position: fixed;
    font-family: 'Zen Kurenaido', sans-serif;
    cursor: pointer;
    z-index: 1000;
    width: 150px;
    height: 150px;
    background: #EDF2F4;
    text-align: center;
    top: -25px;
    left: 43%;
    color: #000;
    border-radius: 50%;
    padding: 10px;
    padding-top: 65px;
    letter-spacing: 4px;
}

@media (max-width:999px) {
    #logo {
        left: 29%;
    }
    .head{
        width:100vw;
    }
}

#nav {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 90vh;
    background: #2A2B2A;
    overflow-x: hidden;
    transition: width 0.5s;
    width: 70px;
    z-index: 10;
    transition: all ease-in-out 0.5s;
}

#nav:hover {
    width: 300px;
}

#nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

#nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    color: #fff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;

}

#nav ul li a:hover {
    color: #F2545B;

}

.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.icon ion-icon {
    font-size: 1.5em;
    position: relative;
}

.list {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    font-size: 1.1em;
    letter-spacing: 2px;
    white-space: nowrap;
    font-weight: bold;
}

.inactive {
    color: #fff;
}

.active {
    color: #F2545B !important;
}

@media (max-width:999px) {
    #nav {
        width: 0px;
    }
}

.mobile {
    width: 200px !important;
    z-index: 100;
}