.introNotes {
    width: 70%;
    height: 60vh;
    margin: auto auto;
    margin-top: 100px;
    border-radius: 10px;
    background: silver;
    display: flex;
    flex-wrap: wrap;
}

.doodle {
    /* overflow: hidden; */
    width: 40%;
    height: 100%;
}

.introMsg {
    width: 60%;
    height: max-content;
    margin: auto auto;
    border-left: 5px solid #000;
    border-radius: 8px;
    padding: 30px;
}

.introMsg h1 {
    letter-spacing: 4px;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.introMsg h4 {
    letter-spacing: 3px;
    font-size: 0.9em;
    margin: 5px auto;
    text-align: center;

}

.mainNotes {
    width: 95%;
    height: 10vh;
    padding: 15px;
    display: flex;
    margin-left: 9.7vh;
}

.notes {
    width: 90%;
    height: max-content;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.note {
    width: 25vw;
    color: #fff;
    padding: 16px 20px;
    height: max-content;
    background: #19323C;
    margin: 15px;
    border: none;
    border-radius: 6px 45px 6px 45px;
}

.noteTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-bottom: 4px;
}

.noteTitle h1 {
    letter-spacing: 4px;
}

.noteTitle ion-icon {
    font-size: 1.8em;
    align-self: center;
    cursor: pointer;
}

.noteDesc {
    margin: 4px;
    letter-spacing: 2px;
}

.noteEnd {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.noteMenu {
    width: 18%;
}

.noteMenu ion-icon {
    margin: 2px;
    font-size: 1.1em;
    cursor: pointer;
}

.noteDate h6 {
    font-size: 0.9em;
    letter-spacing: 2px;
}


@media (max-width:999px) {
    .introMsg {
        border-radius: 0px;
        border-left: 0px;
        width: 100%;
    }

    .mainNotes {
        margin: auto auto;
    }

    .note,
    .notes {
        width: 100%;
    }

    .introNotes {
        height: max-content;
        margin-top: 150px;
    }
}