.typeHeader {
    width: 60%;
    margin: 5px auto;
    margin-top: 125px;
    padding: 10px 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.typeHeader h1 {
    font-size: 2.5em;
    letter-spacing: 4px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.typeMenu {
    display: flex;
    background: #19323C;
    padding: 10px 12px;
    color: #6891a1;
    width: max-content;
    height: max-content;
    font-weight: 600;
    border-radius: 10px;
}

.typeSub,
.typeCount {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    justify-content: space-between;
}

.typeSub {
    width: 70%;
}

.typeSub li,
.typeCount li {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style: none;
    margin: auto 10px;
    letter-spacing: 2px;
}

.active {
    color: #F2545B;
}

.typeCount li:hover,
.typeSub li:hover {
    color: #fff;
}

.typeSub li ion-icon {
    font-size: 1.3em;
    color: #F2545B;
    margin: auto 5px;
}

.copy {
    width: 70%;
    margin: auto auto;
    letter-spacing: 4px;
    padding: 10px 12px;
    color: #818781;
    max-height: 40vh;
    overflow-y: scroll;
    font-size: 1.4em;
    word-spacing: 2px;
    font-weight: 700;
}

.word {
    margin: 5px;
}

#words {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: fit-content;
}

#refresh {
    position: fixed;
    bottom: 10vh;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 20px;
    left: 48%;
    width: 80px;
    height: 80px;
    font-size: 2.5em;
    transition: all ease-in-out 0.25s;
}

#timer {
    letter-spacing: 1px;
    margin: auto auto;
    width: max-content;
}

#refresh:hover {
    background: #19323C;
    color: #fff;
}

/* .word.current {
    animation: cursor 1s linear infinite;
} */

@keyframes cursor {

    0%,
    100% {
        border-left: 2px solid #000;
    }

    50% {
        border-left: none;
    }

}

.word.error {
    border-bottom: 2px solid #F2545B;
}

.wrong {
    color: #F2545B;
}

.correct {
    color: #000;
}

#wordsInput {
    position: fixed;
    top: 28vh;
    left: 33vh;
    background: #fff;
    color: #fff;
    outline: none;
}